<article class="ducky {{type}}">
    <div class="ducky-content">
        <p class="ducky-title">{{title}}</p>
        <p class="type-label">{{label}}</p>
        <p class="ducky-text">{{text}}</p>
        <p class="ducky-author">{{author}}</p>
        <p class="ducky-time">{{time}}</p>
        
    </div>
</article>